*.tlcanopy filter=lfs diff=lfs merge=lfs -text
*.tldem filter=lfs diff=lfs merge=lfs -text
*.tlrgb filter=lfs diff=lfs merge=lfs -text
*.tlwater filter=lfs diff=lfs merge=lfs -text
crates/renderer/assets/bark/*.jpg filter=lfs diff=lfs merge=lfs -text
